<app-jumbotron [Titolo]="'Ricerca Articoli'" [SottoTitolo]="'Ricerca gli articoli per descrizione o codice'"
    [Show]="false"></app-jumbotron>

<section class="container">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="oi oi-pencil"></i>
                <span class="caption-subject bold uppercase"> Dati Articolo</span>
            </div>
        </div>
        <!-- INIZIO DEL FORM DI INSERIMENTO DATI -->
        <div class="alert alert-success" *ngIf='Conferma'>
            {{Conferma}}
        </div>
        <div class="alert alert-danger" *ngIf='Errore'>
            {{Errore}}
        </div>

        <div class="portlet-body form">
            <form (ngSubmit)="!artForm.invalid && salva()" #artForm="ngForm">
                <div class="form-body">
                    <div class="form-group">
                        <label for="codart">Codice Articolo:</label>
                        <input name="codart" type="text" [(ngModel)]="articolo.codArt" class="form-control"
                            placeholder="Codice articolo" required minlength="5" maxlength="30" #codice="ngModel" />
                        <span style="color: red" *ngIf="codice.dirty && codice.invalid">
                            Il codice articolo deve essere compreso fra 5 e 30 caratteri
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="descrizione">Descrizione Articolo:</label>
                        <input name="descrizione" type="text" [(ngModel)]="articolo.descrizione" class="form-control"
                            placeholder="Descrizione articolo" required minlength="6" maxlength="80"
                            #desart="ngModel">
                        <span style="color: red" *ngIf="desart.dirty && desart.invalid">
                            La descrizione articolo deve essere compreso fra 6 e 80 caratteri
                        </span>
                    </div>

                    <div class="form-group">
                        <label for="um">Unità di Misura</label>
                        <select name="selectorUm" class="form-control" [(ngModel)]="articolo.um">
                            <option value="PZ">Pezzi</option>
                            <option value="LT">Litri</option>
                            <option value="KG">Kilogrammi</option>
                        </select>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="pzcart">Pezzi per Cartone:</label>
                            <input type="text" name="pzcart" [(ngModel)]='articolo.pzCart' class="form-control" required
                                maxlength="2" #pzcart="ngModel" />
                            <span style="color: red" *ngIf="pzcart.dirty && pzcart.invalid">
                                I pezzi per cartone devono essere presenti ed avere un valore massimo di 99
                            </span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="peso">Peso netto:</label>
                            <input type="text" name="peso" [(ngModel)]='articolo.pesoNetto' class="form-control" required #peson="ngModel">
                            <span style="color: red" *ngIf="peson.dirty && peson.invalid">
                                Il peso netto deve avere un valore compreso tra 0.01 e 100
                            </span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="idIva">Iva:</label>
                            <select name="selectorIva" class="form-control" [(ngModel)]='articolo.idIva'>
                                <option [(ngValue)]="iva.idIva" *ngFor="let iva of Iva">{{iva.descrizione}}</option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" [(ngModel)]="articolo.idStatoArt"
                                    name="idStatoArt" value="1" checked="true">Attivo
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" [(ngModel)]="articolo.idStatoArt"
                                    name="idStatoArt" value="2">Sospeso
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" [(ngModel)]="articolo.idStatoArt"
                                    name="idStatoArt" value="3">Eliminato
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Famgilia Assortimento:</label>
                        <select name="idFamAss" class="form-control" [(ngModel)]="articolo.idFamAss">
                            <option [ngValue]="categoria.id" *ngFor="let categoria of Cat">{{categoria.descrizione}}
                            </option>
                        </select>
                    </div>

                    <hr class="line-form">

                    <button type="submit" id="btnAdd" class="btn btn-primary form-buttons" [disabled]="artForm.invalid">
                        <i class="fa fa-floppy-o" aria-hidden="true">SALVA</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>